---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
bootstrapTokens:
- token: {{ kube_join_token }}
  description: Cluster join token
  ttl: 0h
certificateKey: {{ kube_uploaded_certs_key }}
nodeRegistration:
  name: {{ kube_node_registered_name }}
  criSocket: {{ kube_node_cri_socket }}
  imagePullPolicy: Always
  taints:
  - key: node-role.kubernetes.io/master
    effect: NoSchedule
localAPIEndpoint:
  advertiseAddress: {{ kube_local_apiserver_bind_address }}
  bindPort: {{ kube_local_apiserver_bind_port }}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
clusterName: {{ kube_cluster_name }}
kubernetesVersion: {{ kube_version }}
imageRepository: {{ kube_image_repository }}
certificatesDir: {{ kube_config_certs_directory }}
controlPlaneEndpoint: {{ kube_control_plane_endpoint }}
apiServer:
  timeoutForControlPlane: 4m0s
  extraArgs:
    authorization-mode: Node,RBAC
networking:
  dnsDomain: cluster.local
  podSubnet: {{ kube_network_pod_cidr }}
  serviceSubnet: {{ kube_network_svc_cidr }}
dns:
  imageTag: {{ coredns_image_tag }}
  imageRepository: {{ coredns_image_repository }}
etcd:
  local:
    imageTag: {{ etcd_image_tag }}
    imageRepository: {{ etcd_image_repository }}
    dataDir: /var/lib/etcd
controllerManager: {}
scheduler: {}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: ipvs
