---
apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    token: {{ kube_join_token }}
    caCertHashes:
    - {{ kube_join_cert_hash }}
    apiServerEndpoint: {{ kube_control_plane_endpoint }}
    unsafeSkipCAVerification: false
  timeout: 4m0s
nodeRegistration:
  name: {{ kube_node_registered_name }}
  criSocket: {{ kube_node_cri_socket }}
  imagePullPolicy: Always
  taints:
  - key: node-role.kubernetes.io/master
    effect: NoSchedule
controlPlane:
  localAPIEndpoint:
    advertiseAddress: {{ kube_local_apiserver_bind_address }}
    bindPort: {{ kube_local_apiserver_bind_port }}
  certificateKey: {{ kube_uploaded_certs_key }}
